doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato|Roboto|Sofia&display=swap')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  .container-fluid
    nav
      div
        i(class='fa fa-bars')
      ul
        li
          a home
        li
          a about
        li
          a service
        li
          a contact
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  body
     block content
  footer
    .column
      h3 About Us
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore amet, vitae, ipsa doloremque doloribus, aspernatur earum eaque soluta architecto omnis molestiae aperiam corporis accusamus fugit.
  .bottom
    p &copy; Copyright 2021 - Powered by Tan Chieu Duong Nguyen - n9854258
